.nft-filter{
    display: flex;
    flex-wrap: nowrap;
}
.nft-filter select{
    padding: 8px 25px;
    background: #343444;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 90px;
}
@media only screen and (max-width: 768px) {
    .nft-filter{
        display: flex;
        flex-wrap: wrap;
    }
    .filter-right{
        margin: 15px 0;
    }
}